<ion-header>
  <ion-toolbar class="navbar">
    <ion-buttons slot="start">
      <a routerLink="/home">
        <img src="../assets/BusNowLogo.png" alt="BusNow Logo">
      </a>
    </ion-buttons>

    <ion-buttons slot="end" class="menu">
      <ion-button routerLink="/home" class="btn">
        Home
      </ion-button>
      <ion-button routerLink="/rutas" class="btn">
        Rutas
      </ion-button>
      <ion-button routerLink="/map" class="btn">
        Mapa
      </ion-button>
      <ion-button routerLink="/terminales" class="btn">
        Terminales
      </ion-button>
      <ion-button routerLink="/perfil" class="btn">
        Perfil
      </ion-button>
      <ion-searchbar class="buscar" placeholder=""></ion-searchbar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
