.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}

.navbar img {
  height: 50px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu ion-button {
  margin: 0 10px;
  color: #c4cfde;
  font-size: 14px;
}

.menu ion-button:hover {
  color: white;
}

.btn {
  color: white;
  font-size: 13px;
  text-decoration: none;
  font-weight: 500;
  border: 1px solid #FF014F;
  border-radius: 5px;
  padding: 10px 20px;
  text-transform: uppercase;
  background-color: transparent;
  transition: background-color 0.3s, border-color 0.3s;
}

.btn:hover {
  background-color: #FF014F;
  border-color: #FF014F;
}

.buscar {
  --border-radius: 10px;
  width: 200px;
  margin-left: 20px;
  padding: 5px 10px;
  transition: all 0.3s ease-in-out;
  --ion-text-color: #000;
  --ion-placeholder-color: #888;
  --show-clear-button: focus;
  --clear-button-color: #FF014F;
}
