*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.header {
  background-image: url(https://4kwallpapers.com/images/wallpapers/outrun-neon-dark-background-purple-2560x1440-4523.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.navbar {

  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}
.navbar img{
  max-width: 100%;
  height: 70px;
}

.menu ul {
  display: flex;
}

.menu ul li{
  list-style: none;
  margin: 20px;
}

.menu ul li a{
  text-decoration: none;
  color: #c4cfde;
  font-size: 13px;
}

.menu ul li a:hover{
  color: white;
}
span{
  color: white;
}
.btn {
  color: white;
  margin: 10px;
  font-size: 13px;
  text-decoration: none;
  font-weight: 400;
  border: 1px solid #FF014F;
  border-radius: 5%;
  padding: 10px 25px;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #FF014F;
  transition: 0.4s;
}

.main {
  position: absolute;
  color: white;
  left: 8%;
  top: 30%;
}

.main h1{
  text-transform: capitalize;
  font-size: 60px;
  margin: 20px 0;
}

.main h1 span {
  color: #ff014f;
}

.main h4{
  text-transform: capitalize;
  font-size: 50 px;
  margin-right: 20px;
}

.main p{
  color: #c4cfde;
  font-size: 16px;
  line-height: 30px;
  margin: 10px 0 10;
}

.main h3{
  color:#c4cfde;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 20px 0;
}

.icon i{
  color:#c4cfde;
  font-size: 25px;
  margin-right: 20px;
}

.icon i:hover {
  color: white;
}

.buscar{
  display: flex;
  align-items: center;
}

.input::-webkit-input-placeholder{
color: white;
}
 .ion-searchbar {
  font-family: 'PT Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(#534f8a,#FF014F);
}
.ion-searchbar {
  width: 200px; 
  height: 27px;
  padding: 0 20px;
  font-size: 18px;
  color: white;
  outline: none;
  border: 1px solid silver;
  border-radius: 30px;
}
