<ion-app>
  <ion-content class="content">
    <app-header></app-header>
    <ion-label class="label">Somos el equipo desarrollador de Bus Now</ion-label>
    <ion-label class="text">Creamos esta plataforma con el fin de facilitar la movilidad <br> en el transporte público sobre todo a turistas que desconocen nuestro país. <br> Es un proyecto innovador que invita al usuario a navegar de manera precisa <br> y solicitar la información que necesite para trasladarse de un punto a otro.</ion-label>
  </ion-content>
</ion-app>
