<ion-header [translucent]="true">
    <app-header></app-header>
  </ion-header>
  
  <ion-content class="ion-padding">
    <div class="container">
      <!-- Tarjeta 1 -->
      <ion-card>
        <ion-card-header>
          <ion-card-title>LA RIVIERA</ion-card-title>
        </ion-card-header>
        <ion-img src="https://photos.encuentra24.com/t_or_fh_l/f_auto/v1/pa/19/24/45/60/19244560_2e3e12"></ion-img>
        <ion-card-content>
          <p>
            Paseo Riviera es una comunidad integral ubicada en David, Chiriquí. La comunidad busca complacer todas las necesidades de nuestros residentes combinando las últimas tendencias de Nuevo Urbanismo con el espíritu y las raíces de la central histórica de Chiriquí.
          </p>
          <ion-button expand="block">Entrar</ion-button>
        </ion-card-content>
      </ion-card>
  
      <!-- Tarjeta 2 -->
      <ion-card>
        <ion-card-header>
          <ion-card-title>BOQUETE</ion-card-title>
        </ion-card-header>
        <ion-img src="https://www.revistaviajesdigital.com/images/2019/boquete-01.jpg"></ion-img>
        <ion-card-content>
          <p>
            Boquete es una pequeña ciudad sobre el río Caldera, en el oeste de Panamá. Los montes de Chiriquí que la rodean albergan plantaciones de café y el Parque Nacional del volcán Barú en el oeste.
          </p>
          <ion-button expand="block">Entrar</ion-button>
        </ion-card-content>
      </ion-card>
  
      <!-- Repite este bloque para cada tarjeta -->
  
    </div>
  </ion-content>
  